*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010153;
}

.bmi-container{
  width: 600px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.bmi-container .bmi-img{
  width: 280px;
  background-image: url('/public/assets/bmi-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.bmi-container .bmi-data{
  padding: 10px;
  flex: 1;
}

.bmi-data .error{
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.bmi-data h1{
  font-size: 20px;
  font-weight: 500;
  color: #0470b8;
  margin-bottom: 10px;
}

.bmi-data .input-group{
  margin-bottom: 15px;
}

.input-group label{
  display: block;
  margin-bottom:6px;
  font-size: 18px;
  color: #888;
}

.input-group input{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
}

.bmi-data button{
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #0470b8;
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.bmi-data button.clear{
  background-color: #d30303;
}

.bmi-data .result{
  border: 1px solid #0470b8;
  padding: 10px;
}

.result p{
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.result p:first-child{
  color: #0470b8;
  font-weight: 600;
}

@media screen and (max-width:690px){
 body{
  background-color: #fff;
 }
 .bmi-container{
  box-shadow: none;
  width: 100%;
 }
}

@media screen and (min-width: 280px) and (max-width:480px){

  #root{
    height: 100vh;
  }

  body{
    background-color: #fff;
    align-items: flex-start;
    height: 100vh;
  }

  .bmi-container{
    width: 100%;
    height: 100vh;
    box-shadow: none;
    flex-direction: column;
    padding: 10px;
  }

  .bmi-container .bmi-img{
    width: 100%;
    height: 380px;
  }
}